// Wellide TUN: let members of the wellide group set DNS on the tunnel
polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.resolve1.set-") == 0 ||
        action.id == "org.freedesktop.resolve1.revert") {
        if (subject.local && subject.active && subject.isInGroup("wellide"))
            return polkit.Result.YES;
    }
});
